{% extends 'base.html' %}
{% load cms_tags sekizai_tags %}

{% block content %}

    {% addtoblock "css" %}
        <link href="/tampm/static/css/flickity.css" rel="stylesheet" type="text/css" media="all">
        <link href="/tampm/static/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all">
    {% endaddtoblock %}

    <div class="main-container">
        <!-- Portfolio Title -->
        <section class="text-center space--even parallax padding-top-160">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="typed-headline" style="text-align: left;">
                            <h3 class="hero-area-checkout" style="text-transform: uppercase">Check out <span style="letter-spacing: 0px;">_____</span></h3>
                            <h2 class="hero-area-portfolio-title">My Portfolio</h2>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <!-- end Portfolio Title -->

        <!-- List Project -->
        <section>
            <div class="container">
                <div class="masonry">
                    <div class="masonry-filter-container text-center row justify-content-center align-items-center">
{#                        <span>Category:</span>#}
                        <div class="masonry-filter-holder {% if tags|length < 8 %} masonry-filters--horizontal {% endif %}">
                            <div class="masonry__filters">
                                <ul class="tag-filter-title">
                                    <li class="active" data-masonry-filter="*">All Categories</li>
                                    {% for tag in tags %}
                                        <li data-masonry-filter="{{ tag.filter_tag }}">{{ tag.name }}({{ tag.project.all.count }})</li>
                                    {% endfor %}
    {#                                <li data-masonry-filter="marketing-design">Marketing Design</li>#}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <hr/>

                    <div class="masonry__container masonry-margin-style">
                        {% for project in object_list %}
                        <div class="col-md-12 masonry-item-margin-style masonry__item {% for tag in project.tags.all %} filter-{{ tag.filter_tag }} {% endfor %}">
                            {% if not forloop.counter|divisibleby:2 %}
                                <div class="row">
                                    <!-- Project detail -->
                                    <div class="col-md-6">
                                        <h4 class="hero-area-message" style="margin-bottom: 15px!important;"><span style="letter-spacing: 0px;">____</span></h4>
                                        <h4 class="font-alt mt-0 mb-20 display-table">
    {#                                        <a href="/hiennv/portfolio/{{ project.slug }}" class="pull-left project-title">#}
                                            <a href="#" class="pull-left project-title">
                                                {{ project.title }}
                                            </a>

                                            <span class="display-vertical-table-cell padding-left-25 pull-left margin-top-12">
                                                <img src="/tampm/static/img/resources/arrows.svg" alt=""
                                                     class="display-vertical-table-cell"/>
                                            </span>
            {#                                <ul class="pull-right ul-list-media-asset">#}
                                            <ul class="pull-right ul-list-media-asset pull-left padding-left-30">

                                                {% if project.android_demo_url != '' and project.android_demo_url is not None %}
                                                    <li class="portfolio-icon-li">
                                                        <a href="{{ project.android_demo_url }}" target="_blank">
                                                            <i class="portfolio-icon fa fa-android font-size-16 white"></i>
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                {% if project.ios_demo_url != '' and project.ios_demo_url is not None %}
                                                    <li class="portfolio-icon-li">
                                                        <a href="{{ project.ios_demo_url }}" target="_blank">
                                                            <i class="portfolio-icon fa fa-apple font-size-16 white"></i>
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                {% if project.demo_url != '' and project.demo_url is not None %}
                                                <li class="portfolio-icon-li">
                                                    <a href="{{ project.demo_url }}" target="_blank">
            {#                                            <i class="portfolio-icon fa fa-globe font-size-16 white"></i>#}
                                                        <i class="portfolio-icon fa fa-link font-size-16 white"></i>
                                                    </a>
                                                </li>
                                                {% endif %}

                                                {% if project.youtube_embed_url != '' and project.youtube_embed_url is not None %}
                                                    <li class="portfolio-icon-li">
                                                        <a href="{{ project.youtube_embed_url }}"
                                                           class="lightbox mfp-iframe">
                                                            <i class="portfolio-icon fa fa-youtube-play font-size-16 white"></i>
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                {% if project.mediaasset_set.all|length != 0 %}
                                                    <li class="portfolio-icon-li">
                                                        {% for media in project.sorted_mediaaset_set.all %}
                                                            {% if forloop.first %}
                                                                <a href="{{ media.media_asset.url }}"
                                                                   data-lightbox="gallery-{{ project.slug }}">
                                                                    <i class="portfolio-icon fa fa-image font-size-18 white"></i>
                                                                </a>
                                                            {% else %}
                                                                <a href="{{ media.media_asset.url }}"
                                                                   data-lightbox="gallery-{{ project.slug }}"
                                                                   style="display: none!important;"
                                                                ></a>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </li>
                                                {% endif %}

                                            </ul>
                                        </h4>

                                        <div class="col-md-12 mb-sm-50 mb-xs-30 padding-0">
                                            <!-- Project Detail -->
                                            <div class="work-detail">
                                                <div class="work-full-detail work-full-detail-no-border">
                                                    <p>
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <strong class="project-info-label">Clients:</strong>
                                                            </div>

                                                            <div class="col-md-10">
                                                                <span class="text-none-transform project-info-detail">{{ project.client }}</span>
                                                            </div>
                                                        </div>
                                                    </p>
                                                    <p>
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <strong class="project-info-label">Length:</strong>
                                                            </div>

                                                            <div class="col-md-10">
                                                                <span class="text-none-transform project-info-detail">{{ project.length }}</span>
                                                            </div>
                                                        </div>
                                                    </p>
                                                    <p>
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <strong class="project-info-label">Roles:</strong>
                                                            </div>

                                                            <div class="col-md-10">
                                                                <span class="text-none-transform project-info-detail">{{ project.roles }}</span>
                                                            </div>
                                                        </div>
                                                    </p>
                                                    <p>
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <strong class="project-info-label">Skills:</strong>
                                                            </div>

                                                            <div class="col-md-10">
                                                                <span class="text-none-transform project-info-detail">{{ project.skills }}</span>
                                                            </div>
                                                        </div>
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- End Project Detail -->
                                    </div>

                                    <div class="col-md-12 mb-sm-50 mb-xs-30 padding-0 text-normal project-detail margin-top-30">
                                        <p>{{ project.short_description  }}</p>
                                    </div>

                                    </div>
                                    <!-- End Project Detail -->

                                    <!-- Project Top Image -->
                                    <div class="col-md-6 hidden-sm hidden-xs">
                                        {% if project.top_image != '' %}
                                            <img src="{{ project.top_image.url }}" class="top-image-list margin-top-65">
                                        {% endif %}
                                    </div>
                                    <!-- End Project Top Image -->
                                </div>
                            {% else %}
                                <div class="row">
                                    <!-- Project Top Image -->
                                    <div class="col-md-6 hidden-sm hidden-xs">
                                        {% if project.top_image != '' %}
                                            <img src="{{ project.top_image.url }}" class="top-image-list margin-top-65">
                                        {% endif %}
                                    </div>
                                    <!-- End Project Top Image -->

                                    <!-- Project detail -->
                                    <div class="col-md-6">
                                        <h4 class="hero-area-message" style="margin-bottom: 15px!important;"><span
                                                style="letter-spacing: 0px;">____</span></h4>
                                        <h4 class="font-alt mt-0 mb-20 display-table">
{#                                            <a href="/hiennv/portfolio/{{ project.slug }}"#}
{#                                               class="pull-left project-title">#}
                                            <a href="#"
                                               class="pull-left project-title">
                                                {{ project.title }}
                                            </a>

                                            <span class="display-vertical-table-cell padding-left-25 pull-left margin-top-12">
                                            <img src="/tampm/static/img/resources/arrows.svg" alt=""
                                                 class="display-vertical-table-cell"/>
                                        </span>
                                            {#                                <ul class="pull-right ul-list-media-asset">#}
                                            <ul class="pull-right ul-list-media-asset pull-left padding-left-30">

                                                {% if project.android_demo_url != '' and project.android_demo_url is not None %}
                                                    <li class="portfolio-icon-li">
                                                        <a href="{{ project.android_demo_url }}" target="_blank">
                                                            <i class="portfolio-icon fa fa-android font-size-16 white"></i>
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                {% if project.ios_demo_url != '' and project.ios_demo_url is not None %}
                                                    <li class="portfolio-icon-li">
                                                        <a href="{{ project.ios_demo_url }}" target="_blank">
                                                            <i class="portfolio-icon fa fa-apple font-size-16 white"></i>
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                {% if project.demo_url != '' and project.demo_url is not None %}
                                                    <li class="portfolio-icon-li">
                                                        <a href="{{ project.demo_url }}" target="_blank">
                                                            {#                                            <i class="portfolio-icon fa fa-globe font-size-16 white"></i>#}
                                                            <i class="portfolio-icon fa fa-link font-size-16 white"></i>
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                {% if project.youtube_embed_url != '' and project.youtube_embed_url is not None %}
                                                    <li class="portfolio-icon-li">
                                                        <a href="{{ project.youtube_embed_url }}"
                                                           class="lightbox mfp-iframe">
                                                            <i class="portfolio-icon fa fa-youtube-play font-size-16 white"></i>
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                {% if project.mediaasset_set.all|length != 0 %}
                                                    <li class="portfolio-icon-li">
                                                        {% for media in project.sorted_mediaaset_set.all %}
                                                            {% if forloop.first %}
                                                                <a href="{{ media.media_asset.url }}"
                                                                   data-lightbox="gallery-{{ project.slug }}">
                                                                    <i class="portfolio-icon fa fa-image font-size-18 white"></i>
                                                                </a>
                                                            {% else %}

                                                                <a href="{{ media.media_asset.url }}"
                                                                   data-lightbox="gallery-{{ project.slug }}"
                                                                   style="display: none!important;"
                                                                ></a>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </li>
                                                {% endif %}

                                            </ul>
                                        </h4>

                                        <div class="col-md-12 mb-sm-50 mb-xs-30 padding-0">
                                            <!-- Project Detail -->
                                            <div class="work-detail">
                                                <div class="work-full-detail work-full-detail-no-border">
                                                    <p>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <strong class="project-info-label">Clients:</strong>
                                                        </div>

                                                        <div class="col-md-10">
                                                            <span class="text-none-transform project-info-detail">{{ project.client }}</span>
                                                        </div>
                                                    </div>
                                                    </p>
                                                    <p>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <strong class="project-info-label">Length:</strong>
                                                        </div>

                                                        <div class="col-md-10">
                                                            <span class="text-none-transform project-info-detail">{{ project.length }}</span>
                                                        </div>
                                                    </div>
                                                    </p>
                                                    <p>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <strong class="project-info-label">Roles:</strong>
                                                        </div>

                                                        <div class="col-md-10">
                                                            <span class="text-none-transform project-info-detail">{{ project.roles }}</span>
                                                        </div>
                                                    </div>
                                                    </p>
                                                    <p>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <strong class="project-info-label">Skills:</strong>
                                                        </div>

                                                        <div class="col-md-10">
                                                            <span class="text-none-transform project-info-detail">{{ project.skills }}</span>
                                                        </div>
                                                    </div>
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- End Project Detail -->
                                        </div>

                                        <div class="col-md-12 mb-sm-50 mb-xs-30 padding-0 text-normal project-detail margin-top-30">
                                            <p>{{ project.short_description }}</p>
                                        </div>

                                    </div>
                                    <!-- End Project Detail -->
                                </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% addtoblock 'js' %}
        <script src="/tampm/static/js/flickity.min.js"></script>
        <script src="/tampm/static/js/lightbox.min.js"></script>
    {% endaddtoblock 'js' %}

{% endblock %}