{% load cms_tags menu_tags sekizai_tags %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tam Portfolio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site Description Here">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link href="/tampm/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/tampm/static/css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/tampm/static/css/flaticon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/tampm/static/css/custom_flaticon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/tampm/static/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/tampm/static/css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/tampm/static/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/tampm/static/css/custom-style.css" rel="stylesheet" type="text/css" media="all" />
        {% render_block "css" %}
    </head>
    <body>
    {% cms_toolbar %}
    <a id="start"></a>
    <div class="nav-container ">
        <div class="bar bar--sm visible-xs">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-md-2">
                        <a href="index.html">
{#                            <img class="logo logo-dark" alt="logo" src="/static/img/resources/tp-400.png"/>#}
                            <img class="logo-dark" alt="logo" src="/tampm/static/img/resources/tp-400.png" width="32px"
                                     height="32px"/>
                        </a>
                    </div>
                    <div class="col-9 col-md-10 text-right">
                        <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                            <i class="icon icon--sm stack-interface stack-menu"></i>
                        </a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
        <!--end bar-->
{#        <nav id="menu1" class="bar bar--sm bar-1 hidden-xs bar--transparent" data-scroll-class='366px:pos-fixed'>#}
        <nav id="menu1" class="bar bar--sm bar-1 hidden-xs" data-scroll-class='366px:pos-fixed'>
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 col-md-2 hidden-xs">
                        <div class="bar__module">
                            <a href="/">
                                <img class="logo-dark" alt="logo" src="/tampm/static/img/resources/tp-400.png" width="56px"
                                     height="56px"/>
                                <!--<img class="logo logo-dark" alt="logo" src="static/img/logo-dark.png" />-->
                                <!--<img class="logo logo-light" alt="logo" src="static/img/logo-light.png" />-->
                            </a>
                        </div>
                        <!--end module-->
                    </div>
{#                    <div class="col-lg-11 col-md-12 text-right text-left-xs text-left-sm" height="100%">#}
                    <div class="col-lg-11 col-md-10 text-right" height="100%">
                        <div class="bar__module" height="100%">
                            <ul class="menu-horizontal">
                                {% show_menu 0 100 100 100 %}
                                <li class="child sibling">
                                    <a href="https://www.upwork.com/o/profiles/users/_~01f18e2f7018c8ba95/"
                                       target="_blank" class="btn btn--sm btn--primary type--uppercase hire-me-button">
                                        Hire Me
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </nav>
        <!--end bar-->
    </div>

    {% block content %}{% endblock content %}

    <footer class="space--sm footer-1 text-center-xs bg--dark ">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                            <span class="type--fine-print">&copy;
                                    <span class="update-year"></span> Tam Phan.</span>
                    <a class="type--fine-print" href="#">Privacy Policy</a>
                    <a class="type--fine-print" href="#">Legal</a>
                </div>
                <div class="col-md-6 text-right text-center-xs">
                    <ul class="social-list list-inline list--hover">
                        <li class="list-inline-item">
                            <a href="https://github.com/phanminhtam" target="_blank">
                                <i class="socicon socicon-github icon icon--xs footer-text-style"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/tampm/" target="_blank">
                                <i class="socicon socicon-linkedin icon icon--xs footer-text-style"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="skype:toilatoi911992?chat">
                                <i class="socicon socicon-skype icon icon--xs footer-text-style"></i>
                            </a>
                        </li>
{#                        <li class="list-inline-item">#}
{#                            <a href="https://www.upwork.com/o/profiles/users/_~01f18e2f7018c8ba95/"#}
{#                               class="upwork-icon social-icon">#}
{#                                <i class="socicon"></i>#}
{#                            </a>#}
{#                        </li>#}

                    </ul>
                </div>
            </div>
        </div>
        <!--end of container-->
    </footer>


    <script src="/tampm/static/js/jquery-3.1.1.min.js"></script>
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countto/1.2.0/jquery.countTo.min.js"></script>#}
    <script src="/tampm/static/js/typed.min.js"></script>
    <script src="/tampm/static/js/isotope.min.js"></script>
    <script src="/tampm/static/js/granim.min.js"></script>
    <script src="/tampm/static/js/smooth-scroll.min.js"></script>
    <script src="/tampm/static/js/scripts.js"></script>
    <script src="/tampm/static/js/custom-scripts.js"></script>
    {% render_block "js" %}
    </body>
</html>
