{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    {% addtoblock "css" %}
        <link href="/static/css/flickity.css" rel="stylesheet" type="text/css" media="all"/>
    {% endaddtoblock %}

<div class="main-container">
    <!-- Introduction -->
    {% placeholder hero_area %}

    {% placeholder overview %}

    {% placeholder testimonials %}

    {% placeholder contact_me %}
</div>

    {% addtoblock "js" %}
        <script src="/static/js/flickity.min.js"></script>
    {% endaddtoblock %}
{% endblock content %}
