{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    {% addtoblock "css" %}
        <link href="/tampm/static/css/flickity.css" rel="stylesheet" type="text/css" media="all"/>
    {% endaddtoblock %}

<div class="main-container">
    <!-- Introduction -->
    {% placeholder header_area %}

    {% placeholder introduction_video %}

    {% placeholder text_center %}

    {% placeholder customer_support %}

    {% placeholder services %}

    {% placeholder skills %}

    {% placeholder subscribe %}

{#    {% placeholder contact_me %}#}
</div>

    {% addtoblock "js" %}
        <script src="/tampm/static/js/flickity.min.js"></script>
        <script src="/tampm/static/js/easypiechart.min.js"></script>
    {% endaddtoblock %}
{% endblock content %}
